<section id="activities" class="activities">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-12 col-lg-10">
        <h2>Activities</h2>
        <hr class="small">
        <div class="row justify-content-center">
          <div class="card-deck">
          {% for post in site.posts %}
            {% assign mod2 = forloop.index | modulo: 2 %}
            {% assign mod3 = forloop.index | modulo: 3 %}
            {% if post.categories contains 'activities' %}
              <div class="card mb-4">
                <a href="{{ post.url | relative.url }}">
                  <img class="card-img-top" src="img/activities/{{ post.img }}">
                </a>
                <div class="card-body">
                  <h4 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                </div>
              </div>
              {% if mod2 == 0 %}<div class="w-100 d-block d-md-none"><!-- wrap every 2 on sm--></div>{% endif %}
              {% if mod3 == 0 %}<div class="w-100 d-none d-md-block"><!-- wrap every 3 on md--></div>{% endif %}
              {% endif %}
          {% endfor %}
          {% if mod3 == 2 %}<div class="card mb-4"></div>{% endif %}
          </div>
        </div>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
