<section id="contacts" class="contacts bg-primary">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-md-10">
        <h2>Contacts</h2>
        <hr class="small">
        <div class="row justify-content-center">
          <div class="col-md-3 col-sm-4 mb-4">
            The Minister:<br />
            Vacancy
          </div>
          <div class="col-md-3 col-sm-4 mb-4">
            The Session Clerk:<br />
            Mrs Olive Weir<br />
            jamandlor1@gmail.com<br />
            Tel (01333) 340642
          </div>
          <div class="col-md-3 col-sm-4 mb-4">
            Elie Church Hall:<br />
            Kirkpark Road<br />
            Elie<br />
            KY9 1DG
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
