<section id="contacts" class="contacts bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Contacts</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6 text-center">
            The Minister:<br />
            Vacancy
          </div>
          <div class="col-md-3 col-sm-6 text-center">
            The Session Clerk:<br />
            Mrs Olive Weir<br />
            jamandlor1@gmail.com<br />
            Tel (01333) 340642
          </div>
          <div class="col-md-3 col-sm-6 text-center">
            Webmaster:<br />
            Andrew Burns<br />
            webmaster@eastneuktrinity.org.uk
          </div>
          <div class="col-md-3 col-sm-6 text-center">
            Elie Church Hall:<br />
            Kirkpark Road<br />
            Elie<br />
            KY9 1DG
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
