<section id="fundraising" class="fundraising">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-md-10">
        <h2>Fundraising</h2>
        <hr class="small">
        <div class="row justify-content-center">
          <div class="card-group">
            <div class="card w-25 bg-light">
              <div class="card-body">
                <a href="https://my.give.net/EKCChurch">
                <img src="/img/Givenet-SUPPORT-button-MEDIUM-white.png" alt="Givenet logo">
              </a>
              </div>
          </div>
            <div class="card w-25 bg-light">
              <div class="card-body">
                <a href="/fundraising.html" class="card-link">
                <div class="card-text lead">
                  Fundraising from shopping
                </div>
              </a>
              </div>
          </div>
            <div class="card w-25 bg-light ">
              <div class="card-body">
                <a href="http://ekcchurch.easysearch.org.uk/">
                <img src="/img/easysearch.png" alt="Easysearch logo" class="card-img">
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
