<section id="life" class="life bg-primary">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-12 col-lg-10">
        <h2>Life's Journey from your Birth</h2>
        <hr class="small">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="life-item">
              <img class="life-img rounded-circle" src="img/baby.jpg">
            </span>
              <h4>
                Baptisms
              </h4>
              <p>Thanksgiving
                  Blessings
                  We’ll celebrate with you</p>

            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="life-item">
                  <img class="life-img rounded-circle" src="img/marriage.jpg">
              <h4>
                Marriage
              </h4>
              <p>Weddings to have and to hold.
                  Celebrate with your family and friends.</p>
                  <a href="marriage" class="btn btn-light">Learn More</a>

            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="life-item">
                  <img class="life-img rounded-circle" src="img/family.jpg">
              <h4>
                Family
              </h4>
              <p>Provision for all age groups of children at Church. Crèche facilities as well.</p>

            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="life-item">
                  <img class="life-img rounded-circle" src="img/safeguarding.jpg">
              <h4>
                Safeguarding
              </h4>
              <p>Share your journey through life with us. Make new friends - join our social events, and other interesting activities.</p>

            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
