<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">East Neuk Trinity</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Welcome<span class="sr-only"> (current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                History
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">The Churches</a>
                <a class="dropdown-item" href="#">Church of Scotland</a>
                <a class="dropdown-item" href="#">Elie Burials</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Quiet garden</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drop in Café
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                <a class="dropdown-item" href="/drop-in.html">The Café</a>
                <a class="dropdown-item" href="/plant-of-the-week">Plant of the week</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="hall-booking.html">Hall bookings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Useful websites</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="finances.html">Finance</a>
            </li>
            
          </ul>
        </div>
      </nav>