<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script> 

{% if page.layout=='front' %}
<script src="js/ssbg-slideshow.js"></script>
<script src="js/votd.js"></script>
<script>
  $(document).ready(function(){
    $("#hide-more").click(function(){
      $("#extras").hide();
      $("#show-more").show();
      $("#hide-more").hide();
    });
    $("#show-more").click(function(){
      $("#extras").show();
      $("#show-more").hide();
      $("#hide-more").show();
    });
  });
</script>
{% endif %}