<!-- jQuery -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script> 

{% if page.layout=='front' %}
<script src="js/ssbg-slideshow.js"></script>
<script src="js/votd.js"></script>
<script>
  $(document).ready(function(){
    $("#hide-more").click(function(){
      $("#extras").hide();
      $("#show-more").show();
      $("#hide-more").hide();
    });
    $("#show-more").click(function(){
      $("#extras").show();
      $("#show-more").hide();
      $("#hide-more").show();
    });
  });
</script>
{% endif %}