<section id="services" class="services">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-12 col-lg-10 mb-4">
        <h2>Church Services</h2>
          Services are usually held in the following locations each month at 11:00am:
      </div>
    </div>
    <div class="row text-center justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="row text-center">

            <div class="col-md-4 mb-4">
              <h3>Elie Church</h3>
              1st and 3rd Sundays of the month
            </div>
            <div class="col-md-4 mb-4">
              <h3>Kilconquhar Church</h3>
              2nd and 4th Sundays of the month
            </div>
            <div class="col-md-4 mb-4">
              <h3>Colinsburgh Town Hall</h3>
              5th Sunday of the month
            </div>

        </div>
      </div>
    </div>
    <div class="row text-center justify-content-center">
     <div class="col-12 col-lg-10">
        <a href="services.html" class="btn btn-light">List of services</a>
     </div>
    </div>
  </div>
</section>
