<section id="votd" class="votd">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-md-8">
        <div class="well verse" id="verse">
            <!-- alternative for no javascript -->
            <noscript>
                <iframe framespacing="0" frameborder="no" src="https://www.biblegateway.com/votd/get/?format=html&version=NIV">View Verse of the Day</iframe> 
            </noscript>
        </div>
     </div>
    </div>
  </div>
</section>