<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <header>
          <h2>Welcome</h2>
        </header>
        <p class="lead">We offer a warm welcome to all and invite you to join us for worship or to attend one of our many activities which take place in our Parish.  See posters, the web and magazine or in the Church.</p>
        <div class="text-vertical-center" style="display:block !important;">
          <a href="about.html" class="btn btn-primary btn-lg">Find Out More</a>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
